// Tutor Filter //
.filter {
  width: 33.3333333%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.filter-title {
  text-align: center;
  font-size: 18px;
  line-height: 1.1;
}

.filter-item {
  margin-bottom: 20px;
}

.input-full-width {
  width: 100%;
}

.price-range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.search-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

// Tutor Card //

.tutor {
  width: 100%;
  margin-bottom: 24px;
}

.tutor-inner {
  display: flex;
}

.avatar {
  width: 100px;
  height: 100px;
  background-color: var(--primary-400);
  margin-right: 20px;
}

.tutor-info {
  margin-right: 20px;
  flex-grow: 1;
}

.tutor-info-top {
  display: flex;
  gap: 10px;
}

.lesson-name {
  color: black;
  font-size: 24px;
  margin: 0;
}

.tutor-name {
  color: #4b5563;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.add-to-favourite {
  margin-top: 8px;
  cursor: pointer;

  &:active {
    transform: scale(0.8);
  }
}

.tutor-info-desc {
  text-align: justify;
}

.tutor-link {
  color: var(--primary-400);
}

.tutor-actions {
  text-align: center;
  max-width: 140px;
}

.tutor-action-button {
  width: 100%;
}

.lesson-price-title {
  margin: 10px 0 0;
  display: block;
  text-align: center;
  font-size: 22px;
}

.lesson-price-desc {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.lesson-rating {
  display: block;
  text-align: center;
}
