.container {
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
}

.contacts {
  width: 100%;
  max-width: 33.33333%;
  margin-right: 20px;

  [data-pc-section='content'] {
    padding: 0;
  }
}

.chat {
  width: 100%;
  max-width: 66.66666%;
  padding: 0 !important;

  [data-pc-section='body'] {
    // padding: 1.25rem 1.25rem 0 1.25rem;
    height: 100%;
  }
  [data-pc-section='content'] {
    height: 100%;
    padding: 0;
  }
}

.chat-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-top-data {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts-wrapper {
  // max-height: 75vh;
  height: 100%;
  max-height: calc(100vh - 200px);
  overflow: auto;
}

.dialog-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #e5e7eb;
  margin-bottom: 5px;

  &:hover {
    background-color: var(--primary-50);
  }

  &.active {
    background-color: var(--primary-100);
  }
}

.dialog-name {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}
