.container {
  max-width: 1900px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  gap: 20px;
}

.calendar-wrapper {
  flex: 1;
}

.lesson-info {
  width: 340px;
}

/*  */

.wrapper {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.main-content {
  flex: 1;
}

.user-name {
  color: black;
  font-size: 24px;
  margin: 0;
}

.lesson-name {
  margin: 0;
  font-size: 18px;
  color: black;
}

.lesson-theme {
  margin: 0;
}

.status-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 20px;
}

.status {
  margin: 0;
}

.badge {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: var(--primary-400); // Заплановано
  //   background-color: var(--green-500); // Проведено
}

.date {
  margin: 0;
}
